.auth-form
  display flex
  flex-direction column

.auth-form-wrapper
  padding-top 16px
  width 300px
  height 400px
  margin auto
  margin-top 192px

.input
  margin-top 16px

.button
  margin-top 48px

.error
  width 100%
  display flex
  justify-content space-around
  color red
  margin-top 36px